title {
    color: #fcfcfc;
    font-family: monospace;
    font-size: 30px;
}

body {
    background-color: lightblue;
  }

  p {
    color: #6b03fc
    font-family: sans-serif;
    font-size: 20px;
  }


