title {
  color: #04ff00;
  font-family: monospace;
  font-weight: bold;
  font-size: 50px;
}
#card{
  text align center;
}

body {
  background-color: skyblue;
}

p {
  color: #18db02
  font-family: sans-serif;
  font-size: 20px;
}


.carousel {
  width: 600px;
  height: 600px;
  margin: auto;
}


.card {
  width: 600px;
  margin: 0 auto; /* Added */
  float: none; /* Added */
}
